label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 40px 40px;
}

.card {

  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.ew{
  height:1000;
  background-size:cover;
  width:auto;
  background-image:url('https://i.pinimg.com/originals/18/58/89/1858894a22e60b56f1d846f9e24ff474.jpg');
  background-position:50% 50%;
}
mat-dialog-container {
  padding: 0px !important;
  background: transparent !important;
}
.md-dialog-content {
  background-color: #000;
  width: 250px;
  height: 250px
}
#myButton {
  width: 380px;
  }
