/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --backgrond:
}
.ew{
  height:1000;
  background-size:cover;
  width:auto;
  background-attachment: fixed;
  background-image:url('https://i.pinimg.com/originals/18/58/89/1858894a22e60b56f1d846f9e24ff474.jpg');
  background-position:50% 50%;
}
