<h1  mat-dialog-title> <b><i>{{ title }}</i></b> </h1>
<div align="center">
  <button disabled  mat-fab color="primary" ><mat-icon>support_agent</mat-icon></button>

</div>

<mat-dialog-content class="mat-typography">
  <div class="center chat-container">


       <h1>

      </h1>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <table width="100%">
      <tr *ngFor="let item of messageArray">
       <td> <h3>{{item.name}}:  {{item.message}}</h3></td>
      </tr>
    </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions >


        <mat-form-field class="m">
          <mat-label>Say Something...</mat-label>
          <input  matInput type="text"  name="id" autocomplete="off" [(ngModel)]="message"  #name="ngModel">
        </mat-form-field>&nbsp;&nbsp;
        <div align="end">

        <button mat-raised-button color="primary" (click)="sendMessage()">send</button>
      </div>

</mat-dialog-actions>



